SECRET_KEY=
GMAIL_USER=
GMAIL_PASS=
MAPBOX_TOKEN=
DATABASE_URL=postgresql://gestaopro:PASSWORD@postgres:5432/gestaopro
REDIS_URL=redis://redis:6379
POSTGRES_PASSWORD=
FLASK_DEBUG=0
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_CLAIMS_EMAIL=mailto: